@import url('colores.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", Arial, sans-serif;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--primary);
    color: #333;
}

/* Título */
h2 {
    margin-bottom: 25px;
    color: var(--text);
    font-weight: 600;
    font-size: 28px;
    text-align: center;
    letter-spacing: 0.5px;
}

/* Contenedor del formulario */
form {
    background-color: var(--accent);
    padding: 40px 50px;
    border-radius: 15px;
    box-shadow: 0 6px 38px var(--secondary);
    width: 100%;
    max-width: 380px;
}

/* Contenedor input + label */
.input-group {
    position: relative;
    margin-bottom: 24px;
}

/* Inputs */
.input-group input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 15px;
    outline: none;
    background: #c7c7c7;
    transition: border-color 0.3s;
}

/* Focus del input */
.input-group input:focus {
    border-color: var(--secondary);
}

/* Labels flotantes */
.input-group label {
    position: absolute;
    top: 12px;
    left: 12px;
    color: #444;
    font-size: 15px;
    font-weight: 500;
    pointer-events: none;
    transition: 0.3s ease all;
    background-color: transparent;
}

/* Cuando el input tiene foco o valor */
.input-group input:focus + label,
.input-group input:not(:placeholder-shown) + label {
    top: -8px;
    left: 10px;
    font-size: 12px;
    background-color: var(--accent);
    padding: 0 4px;
    color: var(--text);
    border-color: var(--secondary);
}

/* Botón */
button {
    width: 100%;
    padding: 12px;
    background-color: var(--primary);
    color: #fff;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: var(--secondary);
}

/* Mensaje de error */
p {
    text-align: center;
    margin-top: 15px;
    font-weight: 500;
    color: red;
}
